DOMAIN_PLACEHOLDER {
  encode zstd gzip

  @billing_api path /billing/*

  route {
    reverse_proxy @billing_api api:4000

    handle_path /api/* {
      reverse_proxy api:4000
    }

    reverse_proxy web:3000
  }
}
